engine-strict = true

# hoist
hoist = true
shamefully-hoist = false
# public-hoist-pattern[]=@typescript/* # better-typescript-lib
# public-hoist-pattern[]=*prisma*      # prisma

# workspace
shared-workspace-lockfile = true
recursive-install = true
