dotenv ./middleware/.env.middleware
dotenv ./middleware/.env.middleware-host

# non-sensitive
export ENV="local"

# sensitive
export DATABASE_URL="mysql://$MYSQL_USER:$MYSQL_PASSWORD@127.0.0.1:$MYSQL_PORT/$MYSQL_DATABASE"

# dev host-machine
export DOCKER_BUILDKIT=1
export DOCKER_IMAGE_NAME="app/backend"

if [ -f "./.envrc.personal" ]; then
  source_env .envrc.personal
fi
